<div class="row" style="margin:0px; background-color:#F0F0F0;">
    <div class="col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-sm-10 col-md-10 col-lg-10">
    	<div class="row" style="margin:0px;">
    		<div class="col-sm-2 col-md-2 col-lg-2" style="">
                <div style="width:150px;padding:22px 0px 22px 0px; background-color:#F0F0F0;">
                    <h1 style="font-size:18px; text-align:center;">OrderERP</h1>
                </div>
            </div>
       		<div class="col-sm-10 col-md-10 col-lg-10" style="padding:0px 0px 0px 0px;">
				<div class="row" style="margin:0px;">
                	<div class="col-sm-12 col-md-12 col-lg-12" style="height:40px;">
                    	
                    </div>
                	<div class="col-sm-12 col-md-12 col-lg-12" style="height:52px;">
                    	<#include "/header_navigation.htm">
                    </div>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
        </div>
    

    </div>
    <div class="col-sm-1 col-md-1 col-lg-1"></div>
    <div class="clearfix visible-xs-block"></div>
</div>